@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "btn login-button-2 text-uppercase text-wh" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="btn login-button-2 text-uppercase text-wh" })
      
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger text-uppercase text-wh">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn login-button-2 text-uppercase text-wh" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn login-button-2 text-uppercase text-wh"})</li>
    </ul>
}
