@{
	ViewBag.Title = "Home Page";
}

<!-- banner-text -->
<div class="banner-text">
	<h2>GREAT DISHES AT AFFORDABLE PRICES!</h2>
	<div class="book-form">
		<p>Order A Treat.</p>
		<form action="#" method="post">
			<div class="col-md-3 form-time-w3layouts">
				<label><i class="fa fa-clock-o" aria-hidden="true"></i> Time :</label>
				<input type="time">
			</div>
			<div class="col-md-3 form-date-w3-agileits">
				<label><i class="fa fa-calendar" aria-hidden="true"></i> Date :</label>
				<input id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
			</div>
			<div class="col-md-3 form-left-agileits-w3layouts ">
				<label><i class="fa fa-users" aria-hidden="true"></i> No.of People :</label>
				<select class="form-control">
					<option></option>
					<option>1 Person</option>
					<option>2 People</option>
					<option>3 People</option>
					<option>4 People</option>
					<option>5 People</option>
					<option>More</option>
				</select>
			</div>
			<div class="col-md-3 form-left-agileits-submit">
				<input type="submit" value="Book a table">
			</div>
		</form>
	</div>
</div>
<!-- gallery -->
<div class="gallery-ban" id="gallery">
	<div class="container">
		<ul id="flexiselDemo1">
			<li>
				<div class="wthree_testimonials_grid_main">

					<img src="Content/images/p1.jpg" alt=" " class="img-responsive" />
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">

					<img src="Content/images/p2.jpg" alt=" " class="img-responsive" />
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">

					<img src="Content/images/p3.jpg" alt=" " class="img-responsive" />
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">

					<img src="Content/images/p6.jpg" alt=" " class="img-responsive" />
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">

					<img src="Content/images/p4.jpg" alt=" " class="img-responsive" />
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">

					<img src="Content/images/p5.jpg" alt=" " class="img-responsive" />
				</div>
			</li>
		</ul>

	</div>
</div>
<!-- //gallery -->
	</div>
<!-- //banner -->
<div class="ab-w3l-about">
	<div class="container">
		<h3 class="tittle-w3"><span>Welcome to </span> Delish Comfort</h3>
		<p class="para-w3l">Delish Comfort is more than just a great online Meal Ordering service. 
		 We are a social enterprise that delivers great mouth-watering dishes to offices, 
		 corperate functions, homes and events.
		<br/>
		We're passionate about what we do and have a large heart.  We can't wait to make your day!
		<br/>
		<br/>

			<a class="read" href="single.html">Read More</a>
		</p>
	</div>
</div>
<div class="about" id="about">
	<div class="col-md-6 ab-w3-agile-info">
		<div class="ab-w3-agile-info-text">
			<h3 class="tittle-w3">About<span> Us</span></h3>
			<p class="para-w3l">
				Delish Comfort is a social enterprise that cooks and delivers delicious dishes in bowls and packs to offices, homes and events.

				We utilize 50% of the profit generated from the business to support the sustainable development goal of quality education for children by providing school items, paying of school fees and organizing Skill Acquisition and STEM programs for children living in low income environment and slums.
			</p>
			<div class="about-read">
				<a href="single.html">Learn More</a>
			</div>
		</div>
		<div class="ab-w3-agile-inner">
			<div class="col-md-6 ab-w3-agile-part">
				<h4>Delicious Meals Packages</h4>
				<p class="para-w3l">We understand how tired and worn-out you can be after a busy day. We've got you! 
					We provide very tasty meals, well packaged and ready to be safely stored in your fridge. </p>
			</div>
			<div class="col-md-6 ab-w3-agile-part two">
				<h4>Every Order Is Touching a Life!</h4>
				<p class="para-w3l">We are a social enterprise. This means that 50% of every meal you order is hwlping to keep many finiancially disadvantaged children 
					in school and fed.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-md-6 ab-w3-agile-img">

	</div>

	<div class="clearfix"></div>
</div>
<!--blogs-->
<div class="agile-blogs" id="blogs">
	<div class="container">
		<h3 class="tittle-w3"><span>Popular </span>Recipes</h3>
		<div class="g1 agile-blog1">
			<a href="#"><img src="Content/images/bl1.jpg" alt="blog1"></a>
			<div class="text-w3">
				<h3 class="tittle-w3 sub-head"><span>Roasted Heritage Carrot</span></h3>
				<p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Ut enim ad minim veniam.</p>

				<a class="read b1" href="single.html">Read More</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="g2 agile-blog2">
			<a href="#"><img src="Content/images/bl2.jpg" alt="blog1"></a>
			<div class="text-w3l">
				<h3 class="tittle-w3 sub-head"><span>Fritto Misto</span></h3>
				<p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Ut enim ad minim veniam.</p>
				<a class="read b2" href="single.html">Read More</a>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//blogs-->
<!--count-->
<div class="count-agileits">
	<div id="particles-js"></div>

	<div class="count-grids">
		<h3 class="tittle-w3">Handling <span>your needs</span> with care</h3>
		<div class="count-bgcolor-w3ls">
			<div class="col-md-4 count-grid">
				<i class="fa fa-cutlery" aria-hidden="true"></i>
				<div class="count hvr-bounce-to-bottom">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1052' data-delay='.5' data-increment="100">1052</div>
					<span></span>
					<h5>Products available</h5>
				</div>
			</div>
			<div class="col-md-4 count-grid">
				<i class="fa fa-users" aria-hidden="true"></i>
				<div class="count hvr-bounce-to-bottom">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='372' data-delay='.5' data-increment="100">372</div>
					<span></span>
					<h5>Clients come back</h5>
				</div>
			</div>
			<div class="col-md-4 count-grid">
				<i class="fa fa-user-plus" aria-hidden="true"></i>
				<div class="count hvr-bounce-to-bottom">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='105209' data-delay='.5' data-increment="100">105209</div>
					<span></span>
					<h5>Site members</h5>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--count-->
<!--services-section-->
<div class="services-w3layouts" id="services">
	<!-- //Stats -->
	<div class="col-md-6 agitsworkw3ls-grid ">
		<h3 class="tittle-w3"><span>Always</span> fresh <span>& </span>delicious <span>food</span></h3>
		<p class="para-w3l">Gourmet is a full-service catering and event planning company dedicated to providing you with exquisite cuisine and fantastic customer service. We offer a variety of menus and design options, for everything from box lunches to full-service plated dinners.</p>
		<div class="services-left-w3-agile">
			<h3 class="tittle-w3 sub-head"><span>Our </span>Menu</h3>
			<ul>
				<li><i class="fa fa-check" aria-hidden="true"></i>BEVERAGES</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>BREAKFASTS</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>LUNCH BUFFETS</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>DINNER BUFFETS</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>PARTY TRAYS</li>
			</ul>
		</div>
		<div class="services-right-w3-agile">
			<h3 class="tittle-w3 sub-head"><span>Catering</span> for</h3>
			<ul>
				<li><i class="fa fa-check" aria-hidden="true"></i>GRADUATION PARTY</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>WEDDING PARTY</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>BRIDAL SHOWER</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>BIRTHDAY PARTY</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>ANNIVERSARY</li>
			</ul>
		</div>
	</div>

	<div class="col-md-6 agitsworkw3ls-grid-2">
		<div class="info-imgs">
			<ul>
				<li>
					<div class="gallery-grid1">
						<a href="single.html"><img src="Content/images/s1.jpg" alt=" " class="img-responsive"></a>
						<div class="p-mask">
							<h4><span>D</span>elish <span>F</span>ood</h4>
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="gallery-grid1">
						<a href="single.html"><img src="Content/images/s2.jpg" alt=" " class="img-responsive"></a>
						<div class="p-mask">
							<h4><span>D</span>elish <span>F</span>ood</h4>
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="gallery-grid1">
						<a href="single.html"><img src="Content/images/s3.jpg" alt=" " class="img-responsive"></a>
						<div class="p-mask">
							<h4><span>D</span>elish <span>F</span>ood</h4>
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="gallery-grid1">
						<a href="single.html"><img src="Content/images/s4.jpg" alt=" " class="img-responsive"></a>
						<div class="p-mask">
							<h4><span>D</span>elish <span>F</span>ood</h4>
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
	<div class="clearfix"></div>
	<!-- //Stats -->
	<div class="clearfix"></div>
</div>
<!--//services-section-->
<!-- mail -->
<div class="mail">
	<div class="mail-grid1">
		<div class="container">
			<h3 class="tittle-w3">Contact <span>Info</span></h3>
			<div class="col-md-4 mail-agileits-w3layouts">
				<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
				<div class="contact-right">
					<p>Phone</p><span>+ (234) 80 6126-1677</span>
				</div>
			</div>
			<div class="col-md-4 mail-agileits-w3layouts">
				<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
				<div class="contact-right">
					<p>Email</p><a href="mailto:info@example.com">Order@DelishFood.com</a>
				</div>
			</div>
			<div class="col-md-4 mail-agileits-w3layouts">
				<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
				<div class="contact-right">
					<p>Address</p><span>7784 Carter Street, Ebute-Meta, Lagos-Nigeria.</span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="col-md-7 map ">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.1184130122183!2d3.382957658011097!3d6.491668663839262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwMjknMzAuMCJOIDPCsDIzJzAyLjYiRQ!5e0!3m2!1sen!2sng!4v1581203685024!5m2!1sen!2sng" ></iframe>
	</div>
	<div class="col-md-5 mail-grid1-form ">
		<h3 class="tittle-w3"><span>Write Us </span>A Message</h3>
		<form action="#" method="post">
			<input type="text" name="Name" placeholder="Name" required="" />
			<input type="email" name="Email" placeholder="Email" required="" />
			<textarea name="Message" placeholder="What is your special order...." required=""></textarea>
			<input type="submit" value="Submit">
		</form>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //mail -->